## EDA

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import helper_db as db

In [18]:
print(db.connect_to_db())

<cursor object at 0x7fc8988cb130; closed: 0>

### 1) Country dataset

In [19]:
# df_country = df_country.sort_values(by=['dt'], ascending=True)
# df_country = df_country.dropna()
# df_country['year'] = df_country['dt'].str[:4]
# df_country['temperature'] = df_country.groupby(['Country','year'])['AverageTemperature'].transform('mean')
# country_list = df_country['Country'].values.tolist()

In [23]:
# country = np.random.choice(country_list)
country = "Afghanistan"
cursor = db.connect_to_db()
cursor.execute("SELECT * FROM import.globallandtemperaturesbycountry LIMIT 2;")
for i in cursor.fetchall():
    print(i)
# df_country = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
# df_country.head()
# df_country[df_country["Country"] == country].drop_duplicates(
#     subset=["year"], keep="first"
# ).plot(
#     x="year", y="temperature", kind="line", title="Average Temperature of " + country + ' (by year)'
# )

('1743-11-01', '4.3839999999999995', '2.294', 'Åland\r')
('1743-12-01', '', '', 'Åland\r')

### 2) Major City dataset

In [21]:
df_major = df_major.sort_values(by=['dt'], ascending=True)
df_major = df_major.dropna()
df_major['year'] = df_major['dt'].str[:4]
df_major['temperature'] = df_major.groupby(['City','year'])['AverageTemperature'].transform('mean')
major_city_list = df_major['City'].values.tolist()

NameError: name 'df_major' is not defined

In [ ]:
major_city = np.random.choice(major_city_list)
df_major[df_major["City"] == major_city].drop_duplicates(
    subset=["year"], keep="first"
).plot(
    x="year", y="temperature", kind="line", title="Average Temperature of " + major_city + ' (by year)'
)